# Отношение (таблица)

In [ ]:
%load_ext sql
%sql mysql://root:adminadmin@localhost:3306/stepik?charset=utf8

In [ ]:
%%sql
--
SELECT
    version();

In [ ]:
%%sql 

CREATE TABLE genre(
    genre_id INT PRIMARY KEY AUTO_INCREMENT,
    name_genre VARCHAR(30)
);

In [ ]:
%%sql 

CREATE TABLE book(
    book_id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(50),
    author VARCHAR(30),
    price DECIMAL(8, 2),
    amount INT
);

In [ ]:
%%sql

INSERT INTO
    stepik.genre (name_genre)
VALUES
    ('Роман')

In [ ]:
%%sql

SELECT
    *
FROM
    genre;

In [ ]:
%%sql

INSERT INTO
    book (title, author, price, amount)
VALUES
    ('Мастер и Маргарита', 'Булгаков М.А.', 670.99, 3)

In [ ]:
%%sql

INSERT INTO
    book (title, author, price, amount)
VALUES
    ('Белая гвардия', 'Булгаков М.А.', 540.50, 5);

INSERT INTO
    book (title, author, price, amount)
VALUES
    ('Идиот', 'Достоевский Ф.М.', 460.00, 10);

INSERT INTO
    book (title, author, price, amount)
VALUES
    ('Братья Карамазовы', 'Достоевский Ф.М.', 799.01, 2);

In [ ]:
%%sql

SELECT
    *
FROM
    book;