# Выборка данных

In [ ]:
%load_ext sql
%sql mysql://root:adminadmin@localhost:3306/stepik?charset=utf8

In [ ]:
%%sql
--
SELECT
    version();

In [ ]:
%%sql

INSERT INTO
    book (title, author, price, amount)
VALUES
    ('Стихотворения и поэмы', 'Есенин С.А.', 650.00, 15);

In [ ]:
%%sql

SELECT
    *
FROM
    book;

In [ ]:
%%sql

SELECT
    author, title, price
FROM
    book;

In [ ]:
%%sql

SELECT
    title AS Название,
    author AS Автор
FROM
    book;

In [ ]:
%%sql

SELECT
    title,
    amount,
    amount * 1.65 AS pack
FROM
    book;

In [ ]:
%%sql

SELECT
    title,
    author,
    amount,
    ROUND(price * 0.7, 2) AS new_price
FROM
    book;

In [ ]:
%%sql

SELECT
    author,
    title,
    ROUND(
        IF(
            author = 'Булгаков М.А.',
            price * 1.1,
            IF(
                author = 'Есенин С.А.',
                price * 1.05,
                price
            )
        ),
        2
    ) AS new_price
FROM
    book;

In [ ]:
%%sql

SELECT
    author,
    title,
    price
FROM
    book
WHERE
    amount < 10;

In [ ]:
%%sql
-- Вывести название,
-- автора,
-- цену и количество всех книг,
-- цена которых меньше 500 или больше 600,
-- а стоимость всех экземпляров этих книг больше или равна 5000.
SELECT
    title,
    author,
    price,
    amount
FROM
    book
WHERE
    (
        (price < 500)
        OR (price > 600)
    )
    AND (price * amount >= 5000)

In [ ]:
%%sql 
-- Вывести название и авторов тех книг,
-- цены которых принадлежат интервалу от 540.50 до 800 (включая границы),
-- а количество или 2,
-- или 3,
-- или 5,
-- или 7.
SELECT
    title,
    author
FROM
    book
WHERE
    (
        price BETWEEN 540.50 AND 800
    )
    AND (amount IN (2, 3, 5, 7))

In [ ]:
%%sql 
--
-- Вывести  автора и название  книг, 
-- количество которых принадлежит интервалу от 2 до 14 (включая границы). 
-- Информацию  отсортировать сначала по авторам (в обратном алфавитном порядке), 
-- а затем по названиям книг (по алфавиту).
-- Результат:
-- +------------------+--------------------+
-- | author           | title              |
-- +------------------+--------------------+
-- | Достоевский Ф.М. | Братья Карамазовы  |
-- | Достоевский Ф.М. | Идиот              |
-- | Булгаков М.А.    | Белая гвардия      |
-- | Булгаков М.А.    | Мастер и Маргарита |
-- +------------------+--------------------+
SELECT
    author,
    title
FROM
    book
WHERE
    amount BETWEEN 2 AND 14
ORDER BY
    author DESC,
    title ASC

In [ ]:
%%sql 
-- Вывести название и автора тех книг, 
-- название которых состоит из двух и более слов, 
-- а инициалы автора содержат букву «С». Считать, 
-- что в названии слова отделяются друг от друга пробелами 
-- и не содержат знаков препинания, 
-- между фамилией автора и инициалами обязателен пробел, 
-- инициалы записываются без пробела 
-- в формате: буква, точка, буква, точка. 
-- Информацию отсортировать по названию книги в алфавитном порядке.
-- Результат:
-- +-----------------------+-------------+
-- | title                 | author      |
-- +-----------------------+-------------+
-- | Капитанская дочка     | Пушкин А.С. |
-- | Стихотворения и поэмы | Есенин С.А. |
-- +-----------------------+-------------+
SELECT
    title,
    author
FROM
    book
WHERE
    (title LIKE "_% _%")
    AND (author LIKE "% %С.%")
ORDER BY
    title ASC

In [ ]:
%%sql

SELECT
    title,
    author
FROM
    book
WHERE
    amount > 5
ORDER BY
    author,
    title