# Вложенные запросы

In [ ]:
%load_ext sql
%sql mysql://root:adminadmin@localhost:3306/stepik?charset=utf8

In [ ]:
%%sql
--
CREATE TABLE IF NOT EXISTS book_14(
    book_id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(50),
    author VARCHAR(30),
    price DECIMAL(8, 2),
    amount INT
);

In [ ]:
%%sql 
--
INSERT INTO
    book_14 (title, author, price, amount)
VALUES
    ('Мастер и Маргарита', 'Булгаков М.А.', 670.99, 3),
    ('Белая гвардия', 'Булгаков М.А.', 540.50, 5),
    ('Идиот', 'Достоевский Ф.М.', 460.00, 10),
    ('Братья Карамазовы', 'Достоевский Ф.М.', 799.01, 3),
    ('Игрок', 'Достоевский Ф.М.', 480.50, 10),
    ('Стихотворения и поэмы', 'Есенин С.А.', 650.00, 15)

In [ ]:
%%sql 
-- Вывести информацию (автора, название и цену) о  книгах, 
-- цены которых меньше или равны средней цене книг на складе. 
-- Информацию вывести в отсортированном по убыванию цены виде. 
-- Среднее вычислить как среднее по цене книги.
--
SELECT
    author,
    title,
    price
FROM
    book_14
WHERE
    price <= (
        SELECT
            AVG(price)
        FROM
            book
    )
ORDER BY price DESC

In [ ]:
%%sql
SELECT MIN(price)
FROM
    book_14

In [ ]:
%%sql
-- Вывести информацию (автора, название и цену) о тех книгах, 
-- цены которых превышают минимальную цену книги на складе не более чем на 150 рублей 
-- в отсортированном по возрастанию цены виде.
SELECT
    author,
    title,
    price
FROM
    book_14
WHERE
    ABS(price - (SELECT MIN(price) FROM book_14)) <= 150
ORDER BY
    price ASC

In [ ]:
%%sql 
-- Вывести информацию (автора, книгу и количество) о тех книгах, 
-- количество экземпляров которых в таблице book не дублируется.
-- SELECT
--     amount
-- FROM
--     book_14
-- GROUP BY
--     amount
-- HAVING
--     COUNT(amount) = 1
SELECT
    author,
    title,
    amount
FROM
    book_14
WHERE
    amount IN (
        SELECT
            amount
        FROM
            book_14
        GROUP BY
            amount
        HAVING
            COUNT(amount) = 1
    )

In [ ]:
%%sql 
-- Вывести информацию о книгах(автор, название, цена), 
-- цена которых меньше самой большой из минимальных цен, вычисленных для каждого автора.
-- SELECT
--     MIN(price)
-- FROM
--     book_14
-- GROUP BY
--     author

SELECT
    author,
    title,
    price
FROM
    book_14
WHERE
    price < ANY (
        SELECT
            MIN(price)
        FROM
            book_14
        GROUP BY
            author
    )

In [ ]:
%%sql 
-- Посчитать сколько и каких экземпляров книг нужно заказать поставщикам, 
-- чтобы на складе стало одинаковое количество экземпляров каждой книги, 
-- равное значению самого большего количества экземпляров одной книги на складе. 
-- Вывести название книги, ее автора,
-- текущее количество экземпляров на складе и количество заказываемых экземпляров книг.
-- Последнему столбцу присвоить имя Заказ. 
-- В результат не включать книги, которые заказывать не нужно.
-- SELECT MAX(amount) FROM book_14
SELECT
    title,
    author,
    amount,
    ABS(
        (
            SELECT
                (MAX(amount))
            FROM
                book_14
        ) - amount
    ) AS "Заказ"
FROM
    book_14
WHERE
    amount <> (
        SELECT
            (MAX(amount))
        FROM
            book_14
    )

In [ ]:
%%sql 
-- Можно посмотреть, при продаже всех книг, какая книга принесет больше всего выручки, в процентах.
-- Судя по результату, магазин хорошо вложился в Стихи Есенина
SELECT
    author,
    title,
    amount,
    price,
    ROUND(
        price * amount * 100 /(
            SELECT
                SUM(amount * price)
            FROM
                book_14
        ),
        2
    ) as income_percent
FROM
    book_14
ORDER BY
    income_percent DESC