# Запросы корректировки данных

In [ ]:
%load_ext sql
%sql mysql://root:adminadmin@localhost:3306/stepik?charset=utf8

In [ ]:
%%sql
--
DROP TABLE book_15;
CREATE TABLE IF NOT EXISTS book_15(
    book_id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(50),
    author VARCHAR(30),
    price DECIMAL(8, 2),
    amount INT
);

In [ ]:
%%sql 
--
INSERT INTO
    book_15 (title, author, price, amount)
VALUES
    ('Мастер и Маргарита', 'Булгаков М.А.', 670.99, 3),
    ('Белая гвардия', 'Булгаков М.А.', 540.50, 5),
    ('Идиот', 'Достоевский Ф.М.', 460.00, 10),
    ('Братья Карамазовы', 'Достоевский Ф.М.', 799.01, 2),
    ('Стихотворения и поэмы', 'Есенин С.А.', 650.00, 15)

In [ ]:
%%sql
--
-- Создать таблицу поставка (supply), которая имеет ту же структуру, что и таблиц book
-- Поле	Тип, описание
-- supply_id	INT PRIMARY KEY AUTO_INCREMENT
-- title	VARCHAR(50)
-- author	VARCHAR(30)
-- price	DECIMAL(8, 2)
-- amount	INT
DROP TABLE IF EXISTS supply_15;
CREATE TABLE IF NOT EXISTS supply_15 (
    supply_id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(50),
    author VARCHAR(30),
    price DECIMAL(8, 2),
    amount INT
)

In [ ]:
%%sql 
--
INSERT INTO
    supply_15 (title, author, price, amount)
VALUES
    ('Лирика', 'Пастернак Б.Л.', 518.99, 2),
    ('Черный человек', 'Есенин С.А.', 570.20, 6),
    ('Белая гвардия', 'Булгаков М.А.', 540.50, 7),
    ('Идиот', 'Достоевский Ф.М.', 360.80, 3);

In [ ]:
%%sql 
-- Добавить из таблицы supply в таблицу book, все книги, 
-- кроме книг, написанных Булгаковым М.А. и Достоевским Ф.М.
INSERT INTO
    book_15 (title, author, price, amount)
SELECT
    title,
    author,
    price,
    amount
FROM
    supply_15
WHERE
    author NOT IN ('Булгаков М.А.', 'Достоевский Ф.М.')

In [ ]:
%%sql 
-- Занести из таблицы supply в таблицу book только те книги, авторов которых нет в  book.
INSERT INTO
    book_15 (title, author, price, amount)
SELECT
    title,
    author,
    price,
    amount
FROM
    supply_15
WHERE
    author NOT IN (
        SELECT
            author
        FROM
            book_15
    );

## Запросы на обновление

In [ ]:
%%sql 
-- Уменьшить на 10% цену тех книг в таблице book, 
-- количество которых принадлежит интервалу от 5 до 10, включая границы.
UPDATE
    book_15
SET
    price = price * 0.9
WHERE
    amount BETWEEN 5 AND 10

In [ ]:
%%sql --
DROP TABLE IF EXISTS book_15_1;

CREATE TABLE IF NOT EXISTS book_15_1(
    book_id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(50),
    author VARCHAR(30),
    price DECIMAL(8, 2),
    amount INT,
    buy INT
);

INSERT INTO
    book_15_1 (title, author, price, amount, buy)
VALUES
    (
        'Мастер и Маргарита',
        'Булгаков М.А.',
        670.99,
        3,
        0
    ),
    ('Белая гвардия', 'Булгаков М.А.', 540.50, 5, 3),
    ('Идиот', 'Достоевский Ф.М.', 460.00, 10, 8),
    (
        'Братья Карамазовы',
        'Достоевский Ф.М.',
        799.01,
        2,
        0
    ),
    (
        'Стихотворения и поэмы',
        'Есенин С.А.',
        650.00,
        15,
        18
    );

SELECT * FROM book_15_1;

In [ ]:
%%sql 
-- В таблице book необходимо скорректировать значение для покупателя в столбце buy таким образом, 
-- чтобы оно не превышало количество экземпляров книг, указанных в столбце amount. 
-- А цену тех книг, которые покупатель не заказывал, снизить на 10%.
UPDATE
    book_15_1
SET
    buy = IF(buy > amount, amount, buy),
    price = IF(buy = 0, price * 0.9, price);

In [ ]:
%%sql 
-- Для тех книг в таблице book , которые есть в таблице supply, 
-- не только увеличить их количество в таблице book ( увеличить их количество на значение столбца amount таблицы supply),
-- но и пересчитать их цену (для каждой книги найти сумму цен из таблиц book и supply и разделить на 2).
UPDATE
    book_15,
    supply_15
SET
    book_15.amount = book_15.amount + supply_15.amount,
    book_15.price = ((book_15.price + supply_15.price) / 2)
WHERE
    book_15.title = supply_15.title
    AND book_15.author = supply_15.author;

In [ ]:
%%sql 
-- Удалить из таблицы supply книги тех авторов, 
-- общее количество экземпляров книг которых в таблице book превышает 10.
DELETE FROM
supply_15
WHERE
    author IN (
        SELECT
            author
        FROM
            book_15
        GROUP BY
            author
        HAVING
            SUM(amount) > 10
    );

SELECT
    *
FROM
    supply_15;

In [ ]:
%%sql 
-- Создать таблицу заказ (ordering), 
-- куда включить авторов и названия тех книг, 
-- количество экземпляров которых в таблице book 
-- меньше среднего количества экземпляров книг в таблице book. 
-- В таблицу включить столбец   amount, 
-- в котором для всех книг указать одинаковое значение
-- - среднее количество экземпляров книг в таблице book.
DROP TABLE IF EXISTS ordering_15;
CREATE TABLE ordering_15 AS
SELECT
    author,
    title,
    (
        SELECT
            ROUND(AVG(amount))
        FROM
            book_15
    ) as amount
FROM
    book_15
WHERE
    amount < (
        SELECT
            ROUND(AVG(amount))
        FROM
            book_15
    );

SELECT * FROM ordering_15;

In [ ]:
%%sql 
-- В связи с повышенным спросом на классическую литературу школьниками в формате 
-- "А есть то же самое, но покороче, чтобы читать поменьше?" была выпущена серия "Графоман и. Краткое содержание".
-- В выборке:
-- - к имени автора добавить "Графоман и ";
-- - к названию книги дописать ". Краткое содержание.";
-- - цену на новый опус установить 40% от цены оригинала, но не более 250. (Если 40% больше 250, то цена должна быть 250);
-- - в зависимости от остатка на складе вывести "Спрос": до 3 (включительно) - высокий, до 10 (включительно) - средний, иначе низкий;
-- - добавить колонку "Наличие" в зависимости от количества: 1-2 шт - очень мало, 3-14 - в наличии, 15 и больше - много;
-- - отсортировать по цене по возрастанию, затем по Спросу от высокого к низкому, а затем по названию книги в алфавитном порядке.
SELECT
    CONCAT("Графоман и ", author) as "Автор",
    CONCAT(title, ". Краткое содержание.") as "Название",
    IF(price * 0.4 > 250, 250, price * 0.4) as "Цена",
    IF(amount <= 3 , "высокий", IF(amount <= 10, "средний", "низкий")) as "Спрос",
    IF(amount <= 2 , "очень мало", IF(amount <= 14, "в наличии", "много")) as "Наличие"
FROM
    book_15
ORDER BY Цена, amount, title ASC