# Таблица "Нарушения ПДД", запросы корректировки

In [ ]:
%load_ext sql
%sql mysql://root:adminadmin@localhost:3306/stepik?charset=utf8

In [ ]:
%%sql
--
SELECT
    version();

In [ ]:
%%sql
--
DROP TABLE IF EXISTS fine_17;
CREATE TABLE fine_17 (
    fine_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(30),
    number_plate VARCHAR(6),
    violation VARCHAR(50),
    sum_fine DECIMAL(8, 2),
    date_violation DATE,
    date_payment DATE
);
DESCRIBE fine_17;

In [ ]:
%%sql 
--
INSERT INTO
    fine_17(
        name,
        number_plate,
        violation,
        date_violation
    )
VALUES
    (
        'Баранов П.Е.',
        'Р523ВТ',
        'Превышение скорости(от 40 до 60)',
        '2020-02-14'
    ),
    (
        'Абрамова К.А.',
        'О111АВ',
        'Проезд на запрещающий сигнал',
        '2020-02-23'
    ),
    (
        'Яковлев Г.Р.',
        'Т330ТТ',
        'Проезд на запрещающий сигнал',
        '2020-03-03'
    );

In [ ]:
%%sql
--

DROP TABLE IF EXISTS traffic_violation_17;
CREATE TABLE traffic_violation_17
(
    violation_id INT PRIMARY KEY AUTO_INCREMENT,
    violation    VARCHAR(50),
    sum_fine     DECIMAL(8, 2)
);

INSERT INTO fine_17(name, number_plate, violation, sum_fine, date_violation, date_payment)
values 
    ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 500.00, '2020-01-12', '2020-01-17'),
    ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000.00, '2020-01-14', '2020-02-27'),
    ('Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости(от 20 до 40)', 500.00, '2020-01-23', '2020-02-23'),
    ('Яковлев Г.Р.', 'М701АА', 'Превышение скорости(от 20 до 40)', NULL, '2020-01-12', NULL),
    ('Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', NULL, '2020-02-01', NULL),
    ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', NULL, '2020-02-14', NULL),
    ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', NULL, '2020-02-23', NULL),
    ('Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', NULL, '2020-03-03', NULL);


INSERT INTO traffic_violation_17(violation, sum_fine)
VALUES ('Превышение скорости(от 20 до 40)', 500),
       ('Превышение скорости(от 40 до 60)', 1000),
       ('Проезд на запрещающий сигнал', 1000);

SELECT * FROM fine_17;
SELECT * FROM traffic_violation_17;

In [ ]:
%%sql
-- Занести в таблицу fine суммы штрафов, которые должен оплатить водитель, в соответствии с данными из таблицы traffic_violation. 
-- При этом суммы заносить только в пустые поля столбца  sum_fine.

UPDATE fine_17 AS f, traffic_violation_17 AS tv
SET f.sum_fine = tv.sum_fine
WHERE (f.violation = tv.violation) AND (f.sum_fine IS NULL);

SELECT * FROM fine_17;

In [ ]:
%%sql 
-- Вывести фамилию, номер машины и нарушение только для тех водителей, 
-- которые на одной машине нарушили одно и то же правило два и более раз. 
-- При этом учитывать все нарушения, независимо от того оплачены они или нет. 
-- Информацию отсортировать в алфавитном порядке, 
-- сначала по фамилии водителя, потом по номеру машины и, наконец, по нарушению.
SELECT
    name,
    number_plate,
    violation
FROM
    fine_17
GROUP BY
    name,
    number_plate,
    violation
HAVING
    COUNT(*) >= 2
ORDER BY 
    name,
    number_plate,
    violation

In [ ]:
%%sql 
-- В таблице fine_17 увеличить в два раза сумму неоплаченных штрафов для отобранных на предыдущем шаге записей. 
UPDATE
    fine_17 AS f,
    (
        SELECT
            name,
            number_plate,
            violation
        FROM
            fine_17
        GROUP BY
            name,
            number_plate,
            violation
        HAVING
            COUNT(*) >= 2
        ORDER BY
            name,
            number_plate,
            violation
    ) AS query_in
SET
    sum_fine = sum_fine * 2
WHERE
    (date_payment IS NULL)
    AND (f.number_plate = query_in.number_plate)
    AND (f.name = query_in.name)
    AND (f.violation = query_in.violation);

In [ ]:
%%sql
--
DROP TABLE IF EXISTS payment_17;

CREATE TABLE payment_17 (
    payment_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(30),
    number_plate VARCHAR(6),
    violation VARCHAR(50),
    date_violation DATE,
    date_payment DATE
);

DESCRIBE payment_17;

INSERT INTO
    payment_17(
        name,
        number_plate,
        violation,
        date_violation,
        date_payment
    )
values
    (
        'Яковлев Г.Р.',
        'М701АА',
        'Превышение скорости(от 20 до 40)',
        '2020-01-12',
        '2020-01-22'
    ),
    (
        'Баранов П.Е.',
        'Р523ВТ',
        'Превышение скорости(от 40 до 60)',
        '2020-02-14',
        '2020-03-06'
    ),
    (
        'Яковлев Г.Р.',
        'Т330ТТ',
        'Проезд на запрещающий сигнал',
        '2020-03-03',
        '2020-03-23'
    );

SELECT
    *
FROM
    payment_17

In [ ]:
%%sql 
--
UPDATE
    fine_17 AS f,
    payment_17 AS p
SET
    f.date_payment = p.date_payment,
    f.sum_fine = IF(
        DATEDIFF(p.date_payment, p.date_violation) <= 20,
        f.sum_fine / 2,
        f.sum_fine
    )
WHERE
    (f.date_payment IS NULL)
    AND (
        (
            f.name,
            f.number_plate,
            f.violation,
            f.date_violation
        ) = (
            p.name,
            p.number_plate,
            p.violation,
            p.date_violation
        )
    );

SELECT
    *
FROM
    fine_17

In [ ]:
%%sql 
--
DROP TABLE IF EXISTS back_payment_17;

CREATE TABLE back_payment_17 (
    name VARCHAR(30),
    number_plate VARCHAR(6),
    violation VARCHAR(50),
    sum_fine DECIMAL(8, 2),
    date_violation DATE
)
AS
    (
        SELECT
            name,
            number_plate,
            violation,
            sum_fine,
            date_violation
        FROM
            fine_17
        WHERE
            date_payment IS NULL
    );
SELECT * FROM back_payment_17

In [ ]:
%%sql 
-- Удалить из таблицы fine информацию о нарушениях, совершенных раньше 1 февраля 2020 года. 

DELETE FROM
    fine_17
WHERE
    date_violation < '2020-02-01';
SELECT * FROM fine_17;