# Выборка данных

In [ ]:
%load_ext sql
%sql mysql://root:adminadmin@localhost:3306/stepik?charset=utf8

In [ ]:
%%sql
--
SELECT
    version();

In [ ]:
%%sql 
-- Создать таблицу author следующей структуры:
-- Поле	        Тип, описание
-- author_id	INT PRIMARY KEY AUTO_INCREMENT
-- name_author	VARCHAR(50)
-- DROP TABLE IF EXISTS author_21;

CREATE TABLE author_21(
    author_id INT PRIMARY KEY AUTO_INCREMENT,
    name_author VARCHAR(50)
);

DESCRIBE author_21;

INSERT INTO
    author_21(name_author)
VALUES
    ('Булгаков М.А.'),
    ('Достоевский Ф.М.'),
    ('Есенин С.А.'),
    ('Пастернак Б.Л.');
SELECT * FROM author_21;

In [ ]:
%%sql
-- Создать таблицу book той же структуры, что и на предыдущем шаге. 
-- Будем считать, что при удалении автора из таблицы author, 
-- должны удаляться все записи о книгах из таблицы book, написанные этим автором. 
-- А при удалении жанра из таблицы genre для соответствующей записи 
-- book установить значение Null в столбце genre_id.

DROP TABLE IF EXISTS book_21;
CREATE TABLE book_21 (
    book_id INT PRIMARY KEY AUTO_INCREMENT, 
    title VARCHAR(50), 
    author_id INT NOT NULL, 
    genre_id INT NOT NULL, 
    price DECIMAL(8,2), 
    amount INT, 
    FOREIGN KEY (author_id)  REFERENCES author_21 (author_id) ON DELETE CASCADE,
    FOREIGN KEY (genre_id)  REFERENCES genre_21 (genre_id) ON
);

In [ ]:
%%sql
-- Перепишите запрос на создание таблицы book , чтобы ее структура соответствовала структуре, 
-- показанной на логической схеме (таблица genre уже создана, порядок следования столбцов
-- - как на логической схеме в таблице book, genre_id  - внешний ключ) . 
-- Для genre_id ограничение о недопустимости пустых значений не задавать. 
-- В качестве главной таблицы для описания поля  genre_id использовать таблицу genre следующей структуры:
DROP TABLE IF EXISTS genre_21;
CREATE TABLE genre_21 (
    genre_id INT PRIMARY KEY AUTO_INCREMENT, 
    name_genre VARCHAR(30)
);
INSERT INTO
    genre_21(name_genre)
VALUES
    ('Роман'),
    ('Поэзия');

DROP TABLE IF EXISTS book_21;
CREATE TABLE book_21 (
    book_id INT PRIMARY KEY AUTO_INCREMENT, 
    title VARCHAR(50), 
    author_id INT NOT NULL, 
    genre_id INT, 
    price DECIMAL(8,2), 
    amount INT, 
    FOREIGN KEY (author_id)  REFERENCES author_21 (author_id),
    FOREIGN KEY (genre_id)  REFERENCES genre_21 (genre_id)
);

In [ ]:

%%sql
-- Создать таблицу book той же структуры, что и на предыдущем шаге. 
-- Будем считать, что при удалении автора из таблицы author, 
-- должны удаляться все записи о книгах из таблицы book, написанные этим автором. 
-- А при удалении жанра из таблицы genre для соответствующей записи 
-- book установить значение Null в столбце genre_id.

DROP TABLE IF EXISTS book_21;
CREATE TABLE book_21 (
    book_id INT PRIMARY KEY AUTO_INCREMENT, 
    title VARCHAR(50), 
    author_id INT NOT NULL, 
    genre_id INT, 
    price DECIMAL(8,2), 
    amount INT, 
    FOREIGN KEY (author_id)  REFERENCES author_21 (author_id) ON DELETE CASCADE,
    FOREIGN KEY (genre_id)  REFERENCES genre_21 (genre_id) ON DELETE SET NULL
);

In [ ]:
%%sql 
-- Для каждой строки таблицы book занесите значения в поля author_id и genre_id. 
-- Считать, что книга Есенина относится к жанру «Поэзия», остальные книги – к жанру «Роман».
-- Через запятую перечислены значения полей book_id,  title, author_id, genre_id,  price, amount каждой записи таблицы book. Заполните пропуски.
-- Авторы и их произведения:
-- Название книги	Автор	Цена	Количество
-- Мастер и Маргарита	Булгаков М.А.	670.99	3
-- Белая гвардия	Булгаков М.А.	540.50	5
-- Идиот	Достоевский Ф.М.	460.00	10
-- Братья Карамазовы	Достоевский Ф.М.	799.01	3
-- Игрок	Достоевский Ф.М.	480.50	10
-- Стихотворения и поэмы	Есенин С.А.	650.00	15

INSERT INTO
    book_21(title, author_id, genre_id, price, amount)
VALUES
    ('Мастер и Маргарита', 1, 1, 670.99, 3),
    ('Белая гвардия', 1, 1, 540.50, 5),
    ('Идиот', 2, 1, 460.00, 5),
    ('Братья Карамазовы', 2, 1, 799.01, 10),
    ('Игрок', 2, 1, 480.50, 10),
    ('Стихотворения и поэмы', 3, 2, 650.00, 15);
SELECT * FROM book_21

In [ ]:
%%sql 
-- Добавьте три последние записи (с ключевыми значениями 6, 7, 8) в таблицу book, первые 5 записей уже добавлены:

-- book_id	title	author_id	genre_id	price	amount
-- 1	Мастер и Маргарита	1	1	670.99	3
-- 2	Белая гвардия	1	1	540.50	5
-- 3	Идиот	2	1	460.00	10
-- 4	Братья Карамазовы	2	1	799.01	3
-- 5	Игрок	2	1	480.50	10
-- 6	Стихотворения и поэмы	3	2	650.00	15
-- 7	Черный человек	3	2	570.20	6
-- 8	Лирика	4	2	518.99	2

INSERT INTO
    book_21(title, author_id, genre_id, price, amount)
VALUES
    ('Стихотворения и поэмы', 3, 2, 650.00, 15),
    ('Черный человек', 3, 2, 570.20, 6),
    ('Лирика', 4, 2, 518.99, 2);
SELECT * FROM book_21