# База данных "Учебная аналитика по курсу"

In [ ]:
%load_ext sql
%sql mysql://root:adminadmin@localhost:3306/stepik?charset=utf8

In [ ]:
%%sql
SELECT
    version();

In [ ]:
/* 
Курс на платформе Stepik состоит из нескольких модулей, 
каждый модуль включает несколько уроков, 
для каждого урока хранится информация о его положении в модуле. 
Каждый урок состоит из последовательности шагов. 
Каждый шаг имеет свой тип (это может быть текст, задание на SQL и пр.) и также порядковый номер в уроке.

Пользователи регистрируются на курсе, указывают свое имя. 
Когда пользователь проходит курс на платформе Stepik, все его действия оставляют "цифровой след": 
какие задания и когда он выполнил, 
сколько попыток сделал, 
правильно ли решил задание. 
Также хранятся все его комментарии. 
Если пользователь проходит курс и получает сертификат, 
то сохраняется дата его выдачи. 
Вся эта информация является первичной для учебной аналитики.

Учебная аналитика – это измерение, сбор, анализ и представление данных об обучающихся и их действиях на online платформе
 с целью понимания и оптимизации учебного процесса и той среды, где этот процесс происходит.

Для данного урока была создана база данных с полным описанием структуры курса. 
Учебная аналитика же включена в базу не в полном объеме, 
а только для некоторой группы пользователей из-за большого объема данных. 
Так, например, информация о решениях 17000 пользователей по нашему курсу 
за полгода его существования содержит 534500 записей. 

Пользователей для базы данных урока мы отобрали так:

отбросили всех, кто не выполнил ни одного задания (их оказалось 8800);
сгруппировали оставшихся пользователей в зависимости от количества решенных заданий, 
вот что получилось (считаем, что те, кто не отсылал задания больше месяца, покинули курс):
 	Всего	Закончили обучение
или покинули курс	Активные пользователи
Выполнили все задания	116	75	41
Получили сертификат	617	470	147
Третий модуль	225	220	5
Второй модуль	940	762	178
Первый модуль, 5-7 урок	1077	891	186
Первый модуль, 4 урок	701	589	112
Первый модуль, 3 урок	823	670	153
Первый модуль, 2 урок	1268	1044	224
Первый модуль, 1 урок	2430	2020	410
затем отобрали типичных представителей групп более или менее пропорционально численности каждой группы (имена пользователей, конечно, заменили);
поскольку пользователи отправляли от 1 до 1000 решений за время прохождения курса, в базу включили только попытки  шагов, относящихся к урокам 1.2, 2.2 и 2.4.
Получилось 64 пользователя и более 2000 их попыток. */

In [ ]:
%%sql
/*
 Отобрать все шаги, 
 в которых рассматриваются вложенные запросы (то есть в названии шага упоминаются вложенные запросы). 
 Указать к какому уроку и модулю они относятся. 
 Для этого вывести 3 поля:
 в поле Модуль указать номер модуля и его название через пробел;
 в поле Урок указать номер модуля, порядковый номер урока (lesson_position) через точку и название урока через пробел;
 в поле Шаг указать номер модуля, порядковый номер урока (lesson_position) через точку, порядковый номер шага (step_position) через точку и название шага через пробел.
 Длину полей Модуль и Урок ограничить 19 символами, 
 при этом слишком длинные надписи обозначить многоточием в конце 
 (16 символов - это номер модуля или урока, пробел и  название Урока или Модуля к ним присоединить "..."). 
 Информацию отсортировать 
 по возрастанию номеров модулей, 
 порядковых номеров уроков 
 и порядковых номеров шагов.
 */
SELECT
    CONCAT(
        LEFT(CONCAT(module_id, ' ', module_name), 16),
        '...'
    ) AS Модуль,
    CONCAT(
        LEFT(
            CONCAT(
                module_id,
                '.',
                lesson_position,
                ' ',
                lesson_name
            ),
            16
        ),
        '...'
    ) AS Урок,
    CONCAT(
        module_id,
        '.',
        lesson_position,
        '.',
        step_position,
        ' ',
        step_name
    ) AS Шаг
FROM
    step
    JOIN lesson USING(lesson_id)
    JOIN module USING(module_id)
WHERE
    step_name LIKE '%ложенн%апрос%'
ORDER BY
    module_id,
    lesson_id,
    step_id

In [ ]:
%%sql
/*
Заполнить таблицу step_keyword следующим образом: если ключевое слово есть в названии шага, то включить в step_keyword строку с id шага и id ключевого слова. 
*/
SELECT
    step_name,
    keyword_name
FROM
    step,
    keyword
WHERE
    step_name REGEXP CONCAT('\\b', keyword_name, '\\b')

In [ ]:
%%sql
/*
 Реализовать поиск по ключевым словам. 
 Вывести шаги, с которыми связаны ключевые слова MAX и AVG одновременно. 
 Для шагов указать 
 - id модуля, 
 - позицию урока в модуле, 
 - позицию шага в уроке через точку, 
 - после позиции шага перед заголовком - пробел. 
 Позицию шага в уроке вывести в виде двух цифр 
 (если позиция шага меньше 10, то перед цифрой поставить 0). 
 Столбец назвать Шаг. 
 Информацию отсортировать по первому столбцу в алфавитном порядке.
 */
SELECT
    CONCAT(
        module_id,
        '.',
        lesson_position,
        '.',
        IF(step_position < 10, CONCAT('0', step_position), step_position),
        ' ',
        step_name
    ) as Шаг
FROM
    step_keyword
    JOIN step USING(step_id)
    JOIN lesson USING(lesson_id)
    JOIN module USING(module_id)
WHERE
    keyword_id IN(
        SELECT
            keyword_id
        FROM
            keyword
        WHERE
            keyword_name IN ('MAX', 'AVG')
    )
GROUP BY
    step_id
HAVING
    COUNT(*) >= 2
ORDER BY
    Шаг

In [ ]:
%%sql
/*
 Посчитать, сколько студентов относится к каждой группе. 
 Столбцы назвать Группа, Интервал, Количество. 
 Указать границы интервала.
 */
SELECT
    CASE
        WHEN rate < 11 THEN 'I'
        WHEN rate < 16 THEN 'II'
        WHEN rate < 28 THEN 'III'
        ELSE 'IV'
    END AS Группа,
    CASE
        WHEN rate < 11 THEN 'от 0 до 10'
        WHEN rate < 16 THEN 'от 11 до 15'
        WHEN rate < 28 THEN 'от 16 до 27'
        ELSE 'больше 27'
    END AS Интервал,
    COUNT(student_name) AS Количество
FROM
    (
        SELECT
            student_name,
            COUNT(step_id) AS rate
        FROM
            student
            INNER JOIN step_student USING(student_id)
        WHERE
            result = "correct"
        GROUP BY
            student_name
        ORDER BY
            rate
    ) AS q_in
GROUP BY
    Группа,
    Интервал
ORDER BY
    Группа;

In [ ]:
%%sql
/* 
 Исправить запрос примера так: для шагов, которые  не имеют неверных ответов,  
 указать 100 как процент успешных попыток, 
 если же шаг не имеет верных ответов, указать 0. 
 Информацию отсортировать сначала по возрастанию успешности, 
 а затем по названию шага в алфавитном порядке.
 */
WITH get_count_correct (st_n_c, count_correct) AS (
    SELECT
        step_name,
        count(*)
    FROM
        step
        INNER JOIN step_student USING (step_id)
    WHERE
        result = "correct"
    GROUP BY
        step_name
),
get_count_wrong (st_n_w, count_wrong) AS (
    SELECT
        step_name,
        count(*)
    FROM
        step
        INNER JOIN step_student USING (step_id)
    WHERE
        result = "wrong"
    GROUP BY
        step_name
)
SELECT
    st_n_c AS Шаг,
    IFNULL(
        ROUND(
            count_correct / (count_correct + count_wrong) * 100
        ),
        100
    ) AS Успешность
FROM
    get_count_correct
    LEFT JOIN get_count_wrong ON st_n_c = st_n_w
UNION
SELECT
    st_n_w AS Шаг,
    IFNULL(
        ROUND(
            count_correct / (count_correct + count_wrong) * 100
        ),
        0
    ) AS Успешность
FROM
    get_count_correct
    RIGHT JOIN get_count_wrong ON st_n_c = st_n_w
ORDER BY
    Успешность, Ша;

In [ ]:
%%sql
/* 
 Вычислить прогресс пользователей по курсу. 
 Прогресс вычисляется как отношение верно пройденных шагов к общему количеству шагов в процентах, 
 округленное до целого. В нашей базе данные о решениях занесены не для всех шагов, 
 поэтому общее количество шагов определить как количество различных шагов в таблице step_student.
 
 Тем пользователям, которые прошли все шаги (прогресс = 100%) выдать "Сертификат с отличием". 
 Тем, у кого прогресс больше или равен 80% -  "Сертификат". 
 Для остальных записей в столбце Результат задать пустую строку ("").
 
 Информацию отсортировать по убыванию прогресса, затем по имени пользователя в алфавитном порядке.
 */
SET
    @total_progress := (
        SELECT
            COUNT(DISTINCT step_id)
        FROM
            step_student
        WHERE
            result = 'correct'
    );

WITH student_progress (student_id, progress) AS (
    SELECT
        student_id,
        ROUND(
            COUNT(DISTINCT step_id) / @total_progress * 100,
            0
        ) AS progress
    FROM
        step_student
    WHERE
        result = 'correct'
    GROUP BY
        student_id
)
SELECT
    student_name AS Студент,
    student_progress.progress AS Прогресс,
    CASE
        WHEN student_progress.progress = 100 THEN 'Сертификат с отличием'
        WHEN student_progress.progress >= 80 THEN 'Сертификат'
        ELSE ''
    END AS Результат
FROM
    student_progress
    JOIN student USING(student_id)
GROUP BY
    student_id
ORDER BY
    Прогресс DESC,
    student_name

In [ ]:
%%sql
/* 
 Для студента с именем student_61 вывести все его попытки: 
 - название шага, 
 - результат и дату отправки попытки (submission_time).
 Информацию отсортировать по дате отправки попытки и указать, 
 сколько минут прошло между отправкой соседних попыток. 
 Название шага ограничить 20 символами и добавить "...". 
 Столбцы назвать Студент, Шаг, Результат, Дата_отправки, Разница.
 */
SELECT
    student_name AS Студент,
    CONCAT(LEFT(step_name, 20), '...') AS Шаг,
    result AS Результат,
    FROM_UNIXTIME(submission_time) AS Дата_отправки,
    SEC_TO_TIME(
        submission_time - LAG(submission_time, 1, submission_time) OVER()
    ) AS Разница
FROM
    step_student AS ss
    JOIN student AS sn ON sn.student_id = ss.student_id 
    AND ss.student_id = 61
    JOIN step USING(step_id)
ORDER BY Дата_отправки

In [ ]:
%%sql
/*
 Посчитать среднее время, за которое пользователи проходят урок по следующему алгоритму:
 
 - для каждого пользователя вычислить время прохождения шага как сумму времени, 
 потраченного на каждую попытку (время попытки - это разница между временем отправки задания и временем начала попытки),
 при этом попытки, которые длились больше 4 часов не учитывать, 
 так как пользователь мог просто оставить задание открытым в браузере, а вернуться к нему на следующий день;
 - для каждого студента посчитать общее время, которое он затратил на каждый урок;
 - вычислить среднее время выполнения урока в часах, результат округлить до 2-х знаков после запятой;
 - вывести информацию по возрастанию времени, пронумеровав строки, для каждого урока указать номер модуля и его позицию в нем.
 
 Столбцы результата назвать Номер, Урок, Среднее_время.
 */
WITH result (Урок, Среднее_время) AS (
  SELECT
    CONCAT(
      module_id,
      '.',
      lesson_position,
      ' ',
      lesson_name
    ) AS Урок,
    ROUND(AVG(lesson_time), 2) AS Среднее_время
  FROM
    (
      SELECT
        lesson_id,
        lesson_name,
        module_id,
        lesson_position,
        SUM(step_time) / 3600 AS lesson_time
      FROM
        (
          SELECT
            step_id,
            student_id,
            SUM(submission_time - attempt_time) AS step_time
          FROM
            step_student
          WHERE
            submission_time - attempt_time < 4 * 3600
          GROUP BY
            step_id,
            student_id
        ) AS step_total
        JOIN step USING(step_id)
        JOIN lesson USING(lesson_id)
      GROUP BY
        student_id,
        lesson_id
    ) AS lesson_total
  GROUP BY
    lesson_id
  ORDER BY
    Среднее_время
)
SELECT
  ROW_NUMBER() OVER() AS Номер,
  Урок,
  Среднее_время
FROM
  result

In [ ]:
%%sql
/* 
 Вычислить рейтинг каждого студента относительно студента, прошедшего наибольшее количество шагов в модуле 
 (вычисляется как отношение количества пройденных студентом шагов к максимальному количеству пройденных шагов, умноженное на 100).
 Вывести 
 - номер модуля, 
 - имя студента, 
 - количество пройденных им шагов 
 - и относительный рейтинг. 
 Относительный рейтинг округлить до одного знака после запятой. 
 Столбцы назвать Модуль, Студент, Пройдено_шагов и Относительный_рейтинг  соответственно. 
 Информацию отсортировать 
 - по возрастанию номера модуля
 - по убыванию относительного рейтинга 
 - по имени студента в алфавитном порядке.
 */
SELECT
    module_id AS Модуль,
    student_name AS Студент,
    COUNT(DISTINCT step_id) AS Пройдено_шагов,
    ROUND(
        (
            COUNT(DISTINCT step_id) / MAX(COUNT(DISTINCT step_id)) OVER (PARTITION BY module_id) * 100
        ),
        1
    ) AS Относительный_рейтинг
FROM
    step_student
    JOIN step USING (step_id)
    JOIN lesson USING (lesson_id)
    JOIN student USING (student_id)
WHERE
    result = "correct"
GROUP BY
    module_id,
    student_id
ORDER BY 
    Модуль,
    Относительный_рейтинг DESC,
    Студент

In [ ]:
%%sql
/* 
 Проанализировать, в каком порядке и с каким интервалом пользователь отправлял последнее верно выполненное задание каждого урока. 
 В базе занесены попытки студентов  для трех уроков курса, поэтому анализ проводить только для этих уроков.
 
 Для студентов прошедших как минимум по одному шагу в каждом уроке, найти последний пройденный шаг каждого урока - крайний шаг, и указать:
 - имя студента;
 - номер урока, состоящий из номера модуля и через точку позиции каждого урока в модуле;
 - время отправки  - время подачи решения на проверку;
 - разницу во времени отправки между текущим и предыдущим крайним шагом в днях, при этом для первого шага поставить прочерк ("-"), а количество дней округлить до целого в большую сторону.
 
 Столбцы назвать  Студент, Урок,  Макс_время_отправки и Интервал  соответственно. 
 
 Отсортировать результаты по имени студента в алфавитном порядке, а потом по возрастанию времени отправки.
 */
WITH required_student AS (
    SELECT
        student_id
    FROM
        (
            SELECT
                lesson_id,
                student_id,
                COUNT(DISTINCT step_id) AS s
            FROM
                step_student
                JOIN step USING(step_id)
            WHERE
                result = 'correct'
            GROUP BY
                lesson_id,
                student_id
            HAVING
                s >= 1
        ) AS more_than_one_step
    GROUP BY
        student_id
    HAVING
        COUNT(lesson_id) >= 3
),
all_info_with_max_per_student_lesson AS (
    SELECT
        *,
        MAX(submission_time) OVER(PARTITION BY lesson_id, student_id) AS max_student_lesson_time
    FROM
        step_student
        JOIN required_student USING(student_id)
        JOIN step USING(step_id)
        JOIN lesson USING(lesson_id)
    WHERE
        result = 'correct'
)
SELECT
    student_name AS Студент,
    CONCAT(module_id, '.', lesson_position) AS Урок,
    FROM_UNIXTIME(max_student_lesson_time) AS Макс_время_отправки,
    IFNULL(
        CEIL(
            (
                max_student_lesson_time - LAG(max_student_lesson_time) OVER(
                    PARTITION BY student_id
                    ORDER BY
                        max_student_lesson_time
                )
            ) / 86400
        ),
        '-'
    ) AS Интервал
FROM
    all_info_with_max_per_student_lesson
    JOIN student USING(student_id)
WHERE
    submission_time = max_student_lesson_time
ORDER BY
    Студент,
    Макс_время_отправки

In [ ]:
%%sql
/* 
Для студента с именем student_59 вывести следующую информацию по всем его попыткам:

- информация о шаге: номер модуля, символ '.', позиция урока в модуле, символ '.', позиция шага в модуле;
- порядковый номер попытки для каждого шага - определяется по возрастанию времени отправки попытки;
- результат попытки;
- время попытки (преобразованное к формату времени) - определяется как разность между временем отправки попытки и времени ее начала, 
  в случае если попытка длилась более 1 часа, то время попытки заменить на среднее время всех попыток пользователя по всем шагам без учета тех, которые длились больше 1 часа;
- относительное время попытки  - определяется как отношение времени попытки (с учетом замены времени попытки) к суммарному времени всех попыток  шага, округленное до двух знаков после запятой  .

Столбцы назвать  Студент,  Шаг, Номер_попытки, Результат, Время_попытки и Относительное_время. 
Информацию отсортировать сначала по возрастанию id шага, а затем по возрастанию номера попытки (определяется по времени отправки попытки).

Важно. Все вычисления производить в секундах, округлять и переводить во временной формат только для вывода результата.
*/

In [1640]:
%%sql
/* 
 Online курс обучающиеся могут проходить по различным траекториям, проследить за которыми можно по способу решения ими заданий шагов курса. 
 Большинство обучающихся за несколько попыток  получают правильный ответ и переходят к следующему шагу. Но есть такие, что остаются на шаге, 
 выполняя несколько верных попыток, или переходят к следующему, оставив нерешенные шаги.
 
 Выделив эти "необычные" действия обучающихся, можно проследить их траекторию работы с курсом и проанализировать задания, для которых эти действия выполнялись, а затем их как-то изменить. 
 
 Для этой цели необходимо выделить группы обучающихся по способу прохождения шагов:
 
 - I группа - это те пользователи, которые после верной попытки решения шага делают неверную (скорее всего для того, чтобы поэкспериментировать или проверить, как работают примеры);
 - II группа - это те пользователи, которые делают больше одной верной попытки для одного шага (возможно, улучшают свое решение или пробуют другой вариант);
 - III группа - это те пользователи, которые не смогли решить задание какого-то шага (у них все попытки по этому шагу - неверные).
 
 Вывести группу (I, II, III), имя пользователя, количество шагов, которые пользователь выполнил по соответствующему способу. Столбцы назвать Группа, Студент, Количество_шагов.
 Отсортировать информацию по возрастанию номеров групп, потом по убыванию количества шагов и, наконец, по имени студента в алфавитном порядке.
 */
WITH student_from_category_2 AS (
    SELECT
        step_id,
        student_id
    FROM
        step_student
    WHERE
        result = 'correct'
    GROUP BY
        step_id,
        student_id
    HAVING
        COUNT(*) > 1
),
student_number_from_category_2 AS (
    SELECT
        'III' AS category,
        student_id,
        COUNT(*) AS step_number
    FROM
        student_from_category_2
    GROUP BY
        student_id
),
student_from_category_3 AS (
    SELECT
        step_id,
        student_id
    FROM
        step_student
    GROUP BY
        step_id,
        student_id
    HAVING
        BIT_AND(result = 'wrong') = 1
),
student_number_from_category_3 AS (
    SELECT
        'III' AS category,
        student_id,
        COUNT(*) AS step_number
    FROM
        student_from_category_3
    GROUP BY
        student_id
)
SELECT
    *
FROM
    (
        -- student_number_from_category_2 
        -- UNION 
        student_from_category_3
    )

    -- SELECT * FROM step_student
    -- WHERE student_id = 60
    -- ORDER BY step_id

 * mysql://root:***@localhost:3306/stepik?charset=utf8
11 rows affected.

[(15, 33),
 (19, 64),
 (83, 59),
 (85, 42),
 (85, 24),
 (87, 24),
 (87, 51),
 (88, 50),
 (107, 24),
 (112, 60),
 (112, 51)]

In [1638]:
%%sql



    SELECT * FROM step_student
    WHERE student_id = 60
    ORDER BY step_id

 * mysql://root:***@localhost:3306/stepik?charset=utf8
42 rows affected.

[(33, 10, 60, 1598960296, 1598960465, 'correct'),
 (104, 11, 60, 1598960467, 1598960534, 'correct'),
 (220, 12, 60, 1598960535, 1598961117, 'correct'),
 (309, 13, 60, 1598961119, 1598961269, 'correct'),
 (397, 14, 60, 1598961290, 1598962035, 'correct'),
 (529, 15, 60, 1598962039, 1598962466, 'correct'),
 (588, 16, 60, 1598962468, 1598962687, 'correct'),
 (717, 17, 60, 1598962733, 1598963200, 'correct'),
 (823, 18, 60, 1598963203, 1598963632, 'correct'),
 (929, 19, 60, 1598964365, 1598964367, 'correct'),
 (943, 19, 60, 1598964218, 1598964358, 'wrong'),
 (947, 19, 60, 1598963634, 1598964050, 'wrong'),
 (1251, 20, 60, 1598964393, 1598964898, 'correct'),
 (1321, 81, 60, 1599052645, 1599053031, 'correct'),
 (1370, 82, 60, 1599053033, 1599053800, 'correct'),
 (1414, 83, 60, 1599053803, 1599054385, 'wrong'),
 (1419, 83, 60, 1599054390, 1599054848, 'correct'),
 (1475, 84, 60, 1599054850, 1599055345, 'correct'),
 (1510, 85, 60, 1599055405, 1599056035, 'correct'),
 (1612, 86, 60, 1599056038, 1599058065, 'correct'),
 (1614, 86, 60, 1599058433, 1599058864, 'correct'),
 (1688, 87, 60, 1599058998, 1599060302, 'correct'),
 (1715, 88, 60, 1599060307, 1599060885, 'correct'),
 (1775, 100, 60, 1599073194, 1599073634, 'wrong'),
 (1783, 100, 60, 1599073643, 1599073653, 'correct'),
 (1817, 101, 60, 1599073250, 1599073963, 'correct'),
 (1853, 103, 60, 1599074207, 1599075113, 'correct'),
 (1880, 104, 60, 1599073999, 1599075564, 'correct'),
 (1909, 105, 60, 1599076435, 1599076470, 'wrong'),
 (1911, 105, 60, 1599076381, 1599076421, 'wrong'),
 (1912, 105, 60, 1599075678, 1599076375, 'wrong'),
 (1946, 105, 60, 1599076487, 1599076497, 'correct'),
 (1958, 106, 60, 1599076499, 1599077250, 'correct'),
 (1986, 107, 60, 1599077252, 1599077819, 'correct'),
 (2089, 108, 60, 1599077821, 1599080228, 'correct'),
 (2110, 109, 60, 1599080236, 1599115991, 'correct'),
 (2167, 110, 60, 1599116077, 1599116391, 'correct'),
 (2201, 111, 60, 1599117089, 1599117090, 'correct'),
 (2211, 111, 60, 1599116395, 1599117086, 'correct'),
 (2239, 112, 60, 1599119505, 1599119507, 'wrong'),
 (2243, 112, 60, 1599117119, 1599119453, 'wrong'),
 (2244, 113, 60, 1599119456, 1599130393, 'correct')]