# База данных "Учебная аналитика по курсу"

In [ ]:
%load_ext sql
%sql mysql://root:adminadmin@localhost:3306/stepik?charset=utf8

In [ ]:
%%sql
SELECT
    version();

In [ ]:
/* 
Курс на платформе Stepik состоит из нескольких модулей, 
каждый модуль включает несколько уроков, 
для каждого урока хранится информация о его положении в модуле. 
Каждый урок состоит из последовательности шагов. 
Каждый шаг имеет свой тип (это может быть текст, задание на SQL и пр.) и также порядковый номер в уроке.

Пользователи регистрируются на курсе, указывают свое имя. 
Когда пользователь проходит курс на платформе Stepik, все его действия оставляют "цифровой след": 
какие задания и когда он выполнил, 
сколько попыток сделал, 
правильно ли решил задание. 
Также хранятся все его комментарии. 
Если пользователь проходит курс и получает сертификат, 
то сохраняется дата его выдачи. 
Вся эта информация является первичной для учебной аналитики.

Учебная аналитика – это измерение, сбор, анализ и представление данных об обучающихся и их действиях на online платформе
 с целью понимания и оптимизации учебного процесса и той среды, где этот процесс происходит.

Для данного урока была создана база данных с полным описанием структуры курса. 
Учебная аналитика же включена в базу не в полном объеме, 
а только для некоторой группы пользователей из-за большого объема данных. 
Так, например, информация о решениях 17000 пользователей по нашему курсу 
за полгода его существования содержит 534500 записей. 

Пользователей для базы данных урока мы отобрали так:

отбросили всех, кто не выполнил ни одного задания (их оказалось 8800);
сгруппировали оставшихся пользователей в зависимости от количества решенных заданий, 
вот что получилось (считаем, что те, кто не отсылал задания больше месяца, покинули курс):
 	Всего	Закончили обучение
или покинули курс	Активные пользователи
Выполнили все задания	116	75	41
Получили сертификат	617	470	147
Третий модуль	225	220	5
Второй модуль	940	762	178
Первый модуль, 5-7 урок	1077	891	186
Первый модуль, 4 урок	701	589	112
Первый модуль, 3 урок	823	670	153
Первый модуль, 2 урок	1268	1044	224
Первый модуль, 1 урок	2430	2020	410
затем отобрали типичных представителей групп более или менее пропорционально численности каждой группы (имена пользователей, конечно, заменили);
поскольку пользователи отправляли от 1 до 1000 решений за время прохождения курса, в базу включили только попытки  шагов, относящихся к урокам 1.2, 2.2 и 2.4.
Получилось 64 пользователя и более 2000 их попыток. */

In [ ]:
%%sql
/*
 Отобрать все шаги, 
 в которых рассматриваются вложенные запросы (то есть в названии шага упоминаются вложенные запросы). 
 Указать к какому уроку и модулю они относятся. 
 Для этого вывести 3 поля:
 в поле Модуль указать номер модуля и его название через пробел;
 в поле Урок указать номер модуля, порядковый номер урока (lesson_position) через точку и название урока через пробел;
 в поле Шаг указать номер модуля, порядковый номер урока (lesson_position) через точку, порядковый номер шага (step_position) через точку и название шага через пробел.
 Длину полей Модуль и Урок ограничить 19 символами, 
 при этом слишком длинные надписи обозначить многоточием в конце 
 (16 символов - это номер модуля или урока, пробел и  название Урока или Модуля к ним присоединить "..."). 
 Информацию отсортировать 
 по возрастанию номеров модулей, 
 порядковых номеров уроков 
 и порядковых номеров шагов.
 */
SELECT
    CONCAT(
        LEFT(CONCAT(module_id, ' ', module_name), 16),
        '...'
    ) AS Модуль,
    CONCAT(
        LEFT(
            CONCAT(
                module_id,
                '.',
                lesson_position,
                ' ',
                lesson_name
            ),
            16
        ),
        '...'
    ) AS Урок,
    CONCAT(
        module_id,
        '.',
        lesson_position,
        '.',
        step_position,
        ' ',
        step_name
    ) AS Шаг
FROM
    step
    JOIN lesson USING(lesson_id)
    JOIN module USING(module_id)
WHERE
    step_name LIKE '%ложенн%апрос%'
ORDER BY
    module_id,
    lesson_id,
    step_id

In [ ]:
%%sql
/*
Заполнить таблицу step_keyword следующим образом: если ключевое слово есть в названии шага, то включить в step_keyword строку с id шага и id ключевого слова. 
*/
SELECT
    step_name,
    keyword_name
FROM
    step,
    keyword
WHERE
    step_name REGEXP CONCAT('\\b', keyword_name, '\\b')

In [ ]:
%%sql
/*
 Реализовать поиск по ключевым словам. 
 Вывести шаги, с которыми связаны ключевые слова MAX и AVG одновременно. 
 Для шагов указать 
 - id модуля, 
 - позицию урока в модуле, 
 - позицию шага в уроке через точку, 
 - после позиции шага перед заголовком - пробел. 
 Позицию шага в уроке вывести в виде двух цифр 
 (если позиция шага меньше 10, то перед цифрой поставить 0). 
 Столбец назвать Шаг. 
 Информацию отсортировать по первому столбцу в алфавитном порядке.
 */
SELECT
    CONCAT(
        module_id,
        '.',
        lesson_position,
        '.',
        IF(step_position < 10, CONCAT('0', step_position), step_position),
        ' ',
        step_name
    ) as Шаг
FROM
    step_keyword
    JOIN step USING(step_id)
    JOIN lesson USING(lesson_id)
    JOIN module USING(module_id)
WHERE
    keyword_id IN(
        SELECT
            keyword_id
        FROM
            keyword
        WHERE
            keyword_name IN ('MAX', 'AVG')
    )
GROUP BY
    step_id
HAVING
    COUNT(*) >= 2
ORDER BY
    Шаг

In [ ]:
%%sql
/*
 Посчитать, сколько студентов относится к каждой группе. 
 Столбцы назвать Группа, Интервал, Количество. 
 Указать границы интервала.
 */
SELECT
    CASE
        WHEN rate < 11 THEN 'I'
        WHEN rate < 16 THEN 'II'
        WHEN rate < 28 THEN 'III'
        ELSE 'IV'
    END AS Группа,
    CASE
        WHEN rate < 11 THEN 'от 0 до 10'
        WHEN rate < 16 THEN 'от 11 до 15'
        WHEN rate < 28 THEN 'от 16 до 27'
        ELSE 'больше 27'
    END AS Интервал,
    COUNT(student_name) AS Количество
FROM
    (
        SELECT
            student_name,
            COUNT(step_id) AS rate
        FROM
            student
            INNER JOIN step_student USING(student_id)
        WHERE
            result = "correct"
        GROUP BY
            student_name
        ORDER BY
            rate
    ) AS q_in
GROUP BY
    Группа,
    Интервал
ORDER BY
    Группа;

In [ ]:
%%sql
/* 
 Исправить запрос примера так: для шагов, которые  не имеют неверных ответов,  
 указать 100 как процент успешных попыток, 
 если же шаг не имеет верных ответов, указать 0. 
 Информацию отсортировать сначала по возрастанию успешности, 
 а затем по названию шага в алфавитном порядке.
 */
WITH get_count_correct (st_n_c, count_correct) AS (
    SELECT
        step_name,
        count(*)
    FROM
        step
        INNER JOIN step_student USING (step_id)
    WHERE
        result = "correct"
    GROUP BY
        step_name
),
get_count_wrong (st_n_w, count_wrong) AS (
    SELECT
        step_name,
        count(*)
    FROM
        step
        INNER JOIN step_student USING (step_id)
    WHERE
        result = "wrong"
    GROUP BY
        step_name
)
SELECT
    st_n_c AS Шаг,
    IFNULL(
        ROUND(
            count_correct / (count_correct + count_wrong) * 100
        ),
        100
    ) AS Успешность
FROM
    get_count_correct
    LEFT JOIN get_count_wrong ON st_n_c = st_n_w
UNION
SELECT
    st_n_w AS Шаг,
    IFNULL(
        ROUND(
            count_correct / (count_correct + count_wrong) * 100
        ),
        0
    ) AS Успешность
FROM
    get_count_correct
    RIGHT JOIN get_count_wrong ON st_n_c = st_n_w
ORDER BY
    Успешность, Ша;

In [ ]:
%%sql
/* 
 Вычислить прогресс пользователей по курсу. 
 Прогресс вычисляется как отношение верно пройденных шагов к общему количеству шагов в процентах, 
 округленное до целого. В нашей базе данные о решениях занесены не для всех шагов, 
 поэтому общее количество шагов определить как количество различных шагов в таблице step_student.
 
 Тем пользователям, которые прошли все шаги (прогресс = 100%) выдать "Сертификат с отличием". 
 Тем, у кого прогресс больше или равен 80% -  "Сертификат". 
 Для остальных записей в столбце Результат задать пустую строку ("").
 
 Информацию отсортировать по убыванию прогресса, затем по имени пользователя в алфавитном порядке.
 */
SET
    @total_progress := (
        SELECT
            COUNT(DISTINCT step_id)
        FROM
            step_student
        WHERE
            result = 'correct'
    );

WITH student_progress (student_id, progress) AS (
    SELECT
        student_id,
        ROUND(
            COUNT(DISTINCT step_id) / @total_progress * 100,
            0
        ) AS progress
    FROM
        step_student
    WHERE
        result = 'correct'
    GROUP BY
        student_id
)
SELECT
    student_name AS Студент,
    student_progress.progress AS Прогресс,
    CASE
        WHEN student_progress.progress = 100 THEN 'Сертификат с отличием'
        WHEN student_progress.progress >= 80 THEN 'Сертификат'
        ELSE ''
    END AS Результат
FROM
    student_progress
    JOIN student USING(student_id)
GROUP BY
    student_id
ORDER BY
    Прогресс DESC,
    student_name

In [ ]:
%%sql
/* 
 Для студента с именем student_61 вывести все его попытки: 
 - название шага, 
 - результат и дату отправки попытки (submission_time).
 Информацию отсортировать по дате отправки попытки и указать, 
 сколько минут прошло между отправкой соседних попыток. 
 Название шага ограничить 20 символами и добавить "...". 
 Столбцы назвать Студент, Шаг, Результат, Дата_отправки, Разница.
 */
SELECT
    student_name AS Студент,
    CONCAT(LEFT(step_name, 20), '...') AS Шаг,
    result AS Результат,
    FROM_UNIXTIME(submission_time) AS Дата_отправки,
    SEC_TO_TIME(
        submission_time - LAG(submission_time, 1, submission_time) OVER()
    ) AS Разница
FROM
    step_student AS ss
    JOIN student AS sn ON sn.student_id = ss.student_id 
    AND ss.student_id = 61
    JOIN step USING(step_id)
ORDER BY Дата_отправки

In [ ]:
%%sql
/*
 Посчитать среднее время, за которое пользователи проходят урок по следующему алгоритму:
 
 - для каждого пользователя вычислить время прохождения шага как сумму времени, 
 потраченного на каждую попытку (время попытки - это разница между временем отправки задания и временем начала попытки),
 при этом попытки, которые длились больше 4 часов не учитывать, 
 так как пользователь мог просто оставить задание открытым в браузере, а вернуться к нему на следующий день;
 - для каждого студента посчитать общее время, которое он затратил на каждый урок;
 - вычислить среднее время выполнения урока в часах, результат округлить до 2-х знаков после запятой;
 - вывести информацию по возрастанию времени, пронумеровав строки, для каждого урока указать номер модуля и его позицию в нем.
 
 Столбцы результата назвать Номер, Урок, Среднее_время.
 */
WITH result (Урок, Среднее_время) AS (
  SELECT
    CONCAT(
      module_id,
      '.',
      lesson_position,
      ' ',
      lesson_name
    ) AS Урок,
    ROUND(AVG(lesson_time), 2) AS Среднее_время
  FROM
    (
      SELECT
        lesson_id,
        lesson_name,
        module_id,
        lesson_position,
        SUM(step_time) / 3600 AS lesson_time
      FROM
        (
          SELECT
            step_id,
            student_id,
            SUM(submission_time - attempt_time) AS step_time
          FROM
            step_student
          WHERE
            submission_time - attempt_time < 4 * 3600
          GROUP BY
            step_id,
            student_id
        ) AS step_total
        JOIN step USING(step_id)
        JOIN lesson USING(lesson_id)
      GROUP BY
        student_id,
        lesson_id
    ) AS lesson_total
  GROUP BY
    lesson_id
  ORDER BY
    Среднее_время
)
SELECT
  ROW_NUMBER() OVER() AS Номер,
  Урок,
  Среднее_время
FROM
  result

In [ ]:
%%sql
/* 
 Вычислить рейтинг каждого студента относительно студента, прошедшего наибольшее количество шагов в модуле 
 (вычисляется как отношение количества пройденных студентом шагов к максимальному количеству пройденных шагов, умноженное на 100).
 Вывести 
 - номер модуля, 
 - имя студента, 
 - количество пройденных им шагов 
 - и относительный рейтинг. 
 Относительный рейтинг округлить до одного знака после запятой. 
 Столбцы назвать Модуль, Студент, Пройдено_шагов и Относительный_рейтинг  соответственно. 
 Информацию отсортировать 
 - по возрастанию номера модуля
 - по убыванию относительного рейтинга 
 - по имени студента в алфавитном порядке.
 */
SELECT
    module_id AS Модуль,
    student_name AS Студент,
    COUNT(DISTINCT step_id) AS Пройдено_шагов,
    ROUND(
        (
            COUNT(DISTINCT step_id) / MAX(COUNT(DISTINCT step_id)) OVER (PARTITION BY module_id) * 100
        ),
        1
    ) AS Относительный_рейтинг
FROM
    step_student
    JOIN step USING (step_id)
    JOIN lesson USING (lesson_id)
    JOIN student USING (student_id)
WHERE
    result = "correct"
GROUP BY
    module_id,
    student_id
ORDER BY 
    Модуль,
    Относительный_рейтинг DESC,
    Студент

In [ ]:
%%sql
/* 
 Проанализировать, в каком порядке и с каким интервалом пользователь отправлял последнее верно выполненное задание каждого урока. 
 В базе занесены попытки студентов  для трех уроков курса, поэтому анализ проводить только для этих уроков.
 
 Для студентов прошедших как минимум по одному шагу в каждом уроке, найти последний пройденный шаг каждого урока - крайний шаг, и указать:
 - имя студента;
 - номер урока, состоящий из номера модуля и через точку позиции каждого урока в модуле;
 - время отправки  - время подачи решения на проверку;
 - разницу во времени отправки между текущим и предыдущим крайним шагом в днях, при этом для первого шага поставить прочерк ("-"), а количество дней округлить до целого в большую сторону.
 
 Столбцы назвать  Студент, Урок,  Макс_время_отправки и Интервал  соответственно. 
 
 Отсортировать результаты по имени студента в алфавитном порядке, а потом по возрастанию времени отправки.
 */
WITH required_student AS (
    SELECT
        student_id
    FROM
        (
            SELECT
                lesson_id,
                student_id,
                COUNT(DISTINCT step_id) AS s
            FROM
                step_student
                JOIN step USING(step_id)
            WHERE
                result = 'correct'
            GROUP BY
                lesson_id,
                student_id
            HAVING
                s >= 1
        ) AS more_than_one_step
    GROUP BY
        student_id
    HAVING
        COUNT(lesson_id) >= 3
),
all_info_with_max_per_student_lesson AS (
    SELECT
        *,
        MAX(submission_time) OVER(PARTITION BY lesson_id, student_id) AS max_student_lesson_time
    FROM
        step_student
        JOIN required_student USING(student_id)
        JOIN step USING(step_id)
        JOIN lesson USING(lesson_id)
    WHERE
        result = 'correct'
)
SELECT
    student_name AS Студент,
    CONCAT(module_id, '.', lesson_position) AS Урок,
    FROM_UNIXTIME(max_student_lesson_time) AS Макс_время_отправки,
    IFNULL(
        CEIL(
            (
                max_student_lesson_time - LAG(max_student_lesson_time) OVER(
                    PARTITION BY student_id
                    ORDER BY
                        max_student_lesson_time
                )
            ) / 86400
        ),
        '-'
    ) AS Интервал
FROM
    all_info_with_max_per_student_lesson
    JOIN student USING(student_id)
WHERE
    submission_time = max_student_lesson_time
ORDER BY
    Студент,
    Макс_время_отправки

In [ ]:
%%sql
/* 
Для студента с именем student_59 вывести следующую информацию по всем его попыткам:

- информация о шаге: номер модуля, символ '.', позиция урока в модуле, символ '.', позиция шага в модуле;
- порядковый номер попытки для каждого шага - определяется по возрастанию времени отправки попытки;
- результат попытки;
- время попытки (преобразованное к формату времени) - определяется как разность между временем отправки попытки и времени ее начала, 
  в случае если попытка длилась более 1 часа, то время попытки заменить на среднее время всех попыток пользователя по всем шагам без учета тех, которые длились больше 1 часа;
- относительное время попытки  - определяется как отношение времени попытки (с учетом замены времени попытки) к суммарному времени всех попыток  шага, округленное до двух знаков после запятой  .

Столбцы назвать  Студент,  Шаг, Номер_попытки, Результат, Время_попытки и Относительное_время. 
Информацию отсортировать сначала по возрастанию id шага, а затем по возрастанию номера попытки (определяется по времени отправки попытки).

Важно. Все вычисления производить в секундах, округлять и переводить во временной формат только для вывода результата.
*/

In [1649]:
%%sql
/* 
 Online курс обучающиеся могут проходить по различным траекториям, проследить за которыми можно по способу решения ими заданий шагов курса. 
 Большинство обучающихся за несколько попыток  получают правильный ответ и переходят к следующему шагу. Но есть такие, что остаются на шаге, 
 выполняя несколько верных попыток, или переходят к следующему, оставив нерешенные шаги.
 
 Выделив эти "необычные" действия обучающихся, можно проследить их траекторию работы с курсом и проанализировать задания, для которых эти действия выполнялись, а затем их как-то изменить. 
 
 Для этой цели необходимо выделить группы обучающихся по способу прохождения шагов:
 
 - I группа - это те пользователи, которые после верной попытки решения шага делают неверную (скорее всего для того, чтобы поэкспериментировать или проверить, как работают примеры);
 - II группа - это те пользователи, которые делают больше одной верной попытки для одного шага (возможно, улучшают свое решение или пробуют другой вариант);
 - III группа - это те пользователи, которые не смогли решить задание какого-то шага (у них все попытки по этому шагу - неверные).
 
 Вывести группу (I, II, III), имя пользователя, количество шагов, которые пользователь выполнил по соответствующему способу. Столбцы назвать Группа, Студент, Количество_шагов.
 Отсортировать информацию по возрастанию номеров групп, потом по убыванию количества шагов и, наконец, по имени студента в алфавитном порядке.
 */
WITH student_from_category_2 AS (
    SELECT
        step_id,
        student_id
    FROM
        step_student
    WHERE
        result = 'correct'
    GROUP BY
        step_id,
        student_id
    HAVING
        COUNT(*) > 1
),
student_number_from_category_2 AS (
    SELECT
        'II' AS category,
        student_id,
        COUNT(*) AS step_number
    FROM
        student_from_category_2
    GROUP BY
        student_id
),
student_from_category_3 AS (
    SELECT
        step_id,
        student_id
    FROM
        step_student
    GROUP BY
        step_id,
        student_id
    HAVING
        BIT_AND(result = 'wrong') = 1
),
student_number_from_category_3 AS (
    SELECT
        'III' AS category,
        student_id,
        COUNT(*) AS step_number
    FROM
        student_from_category_3
    GROUP BY
        student_id
) (
    SELECT
        *
    FROM
        student_number_from_category_2
    UNION
    ALL
    SELECT
        *
    FROM
        student_number_from_category_3
)
ORDER BY
    category,
    step_number DESC

 * mysql://root:***@localhost:3306/stepik?charset=utf8
24 rows affected.

[('II', 53, 4),
 ('II', 62, 4),
 ('II', 34, 3),
 ('II', 35, 2),
 ('II', 9, 2),
 ('II', 20, 2),
 ('II', 60, 2),
 ('II', 11, 1),
 ('II', 59, 1),
 ('II', 57, 1),
 ('II', 40, 1),
 ('II', 15, 1),
 ('II', 46, 1),
 ('II', 30, 1),
 ('II', 39, 1),
 ('II', 36, 1),
 ('III', 24, 3),
 ('III', 51, 2),
 ('III', 33, 1),
 ('III', 64, 1),
 ('III', 59, 1),
 ('III', 42, 1),
 ('III', 50, 1),
 ('III', 60, 1)]

In [1676]:
%%sql
SELECT
    *,
    BIT_AND(result = 'wrong') OVER(PARTITION BY student_id, step_id) AS third
FROM
    step_student
WHERE
    student_id = 24
ORDER BY
    step_id

 * mysql://root:***@localhost:3306/stepik?charset=utf8
127 rows affected.

[(75, 10, 24, 1586370345, 1586370591, 'correct', 0),
 (157, 11, 24, 1586370646, 1586370652, 'correct', 0),
 (160, 11, 24, 1586370595, 1586370639, 'wrong', 0),
 (167, 12, 24, 1586370654, 1586370903, 'correct', 0),
 (304, 13, 24, 1586371714, 1586371720, 'correct', 0),
 (306, 13, 24, 1586371147, 1586371154, 'wrong', 0),
 (318, 13, 24, 1586371514, 1586371536, 'wrong', 0),
 (319, 13, 24, 1586370916, 1586371126, 'wrong', 0),
 (324, 13, 24, 1586371545, 1586371705, 'wrong', 0),
 (347, 14, 24, 1586677027, 1586677046, 'correct', 0),
 (373, 14, 24, 1586371736, 1586676612, 'wrong', 0),
 (376, 14, 24, 1586676889, 1586677024, 'wrong', 0),
 (510, 15, 24, 1586877924, 1586877953, 'correct', 0),
 (525, 15, 24, 1586677052, 1586877850, 'wrong', 0),
 (535, 15, 24, 1586877859, 1586877871, 'wrong', 0),
 (653, 16, 24, 1586877956, 1586878154, 'correct', 0),
 (678, 17, 24, 1586878657, 1586878820, 'wrong', 0),
 (680, 17, 24, 1586878645, 1586878652, 'wrong', 0),
 (681, 17, 24, 1586878464, 1586878589, 'wrong', 0),
 (691, 17, 24, 1586878598, 1586878612, 'wrong', 0),
 (698, 17, 24, 1586878853, 1586878865, 'correct', 0),
 (705, 17, 24, 1586878156, 1586878459, 'wrong', 0),
 (784, 18, 24, 1586878896, 1586879191, 'wrong', 0),
 (787, 18, 24, 1586879245, 1586879295, 'correct', 0),
 (807, 18, 24, 1586879194, 1586879216, 'wrong', 0),
 (865, 19, 24, 1586879299, 1586880007, 'wrong', 0),
 (867, 19, 24, 1586880013, 1586880017, 'wrong', 0),
 (874, 19, 24, 1586880020, 1586880025, 'wrong', 0),
 (909, 19, 24, 1586880648, 1586880665, 'wrong', 0),
 (987, 19, 24, 1586880598, 1586880605, 'wrong', 0),
 (989, 19, 24, 1586880667, 1586880673, 'correct', 0),
 (997, 19, 24, 1586880607, 1586880617, 'wrong', 0),
 (1010, 19, 24, 1586880620, 1586880645, 'wrong', 0),
 (1015, 19, 24, 1586880027, 1586880039, 'wrong', 0),
 (1016, 19, 24, 1586880044, 1586880596, 'wrong', 0),
 (1220, 20, 24, 1586880676, 1586880873, 'wrong', 0),
 (1249, 20, 24, 1586880977, 1586880982, 'correct', 0),
 (1250, 20, 24, 1586880883, 1586880901, 'wrong', 0),
 (1261, 20, 24, 1586880908, 1586880972, 'wrong', 0),
 (1322, 81, 24, 1588847725, 1588878841, 'correct', 0),
 (1327, 82, 24, 1589131263, 1589131265, 'wrong', 0),
 (1328, 82, 24, 1589131267, 1589131273, 'wrong', 0),
 (1331, 82, 24, 1589131413, 1589132535, 'wrong', 0),
 (1337, 82, 24, 1589130891, 1589130896, 'wrong', 0),
 (1339, 82, 24, 1589131212, 1589131216, 'wrong', 0),
 (1340, 82, 24, 1589131176, 1589131208, 'wrong', 0),
 (1341, 82, 24, 1589130908, 1589131168, 'wrong', 0),
 (1342, 82, 24, 1589131230, 1589131260, 'wrong', 0),
 (1344, 82, 24, 1589132538, 1589132548, 'correct', 0),
 (1345, 82, 24, 1588878846, 1589130885, 'wrong', 0),
 (1346, 82, 24, 1589131275, 1589131282, 'wrong', 0),
 (1347, 82, 24, 1589130900, 1589130905, 'wrong', 0),
 (1348, 82, 24, 1589131219, 1589131224, 'wrong', 0),
 (1351, 82, 24, 1589131284, 1589131302, 'wrong', 0),
 (1353, 82, 24, 1589131399, 1589131407, 'wrong', 0),
 (1398, 83, 24, 1589132550, 1589133537, 'wrong', 0),
 (1403, 83, 24, 1589133541, 1589133546, 'wrong', 0),
 (1405, 83, 24, 1589133548, 1589133564, 'correct', 0),
 (1449, 84, 24, 1589133569, 1589133756, 'wrong', 0),
 (1462, 84, 24, 1589133774, 1589133807, 'correct', 0),
 (1490, 84, 24, 1589133768, 1589133771, 'wrong', 0),
 (1549, 85, 24, 1589135070, 1589135100, 'wrong', 1),
 (1550, 85, 24, 1589135103, 1589136600, 'wrong', 1),
 (1559, 85, 24, 1589133810, 1589134736, 'wrong', 1),
 (1602, 86, 24, 1589136848, 1589200129, 'correct', 0),
 (1652, 87, 24, 1589208240, 1589208262, 'wrong', 1),
 (1654, 87, 24, 1589200133, 1589208183, 'wrong', 1),
 (1772, 100, 24, 1589272404, 1589272790, 'correct', 0),
 (1797, 101, 24, 1589272792, 1589288967, 'correct', 0),
 (1830, 103, 24, 1589357009, 1589357027, 'correct', 0),
 (1855, 103, 24, 1589297878, 1589357001, 'wrong', 0),
 (1856, 103, 24, 1589297836, 1589297840, 'wrong', 0),
 (1857, 103, 24, 1589293237, 1589297804, 'wrong', 0),
 (1858, 103, 24, 1589293200, 1589293230, 'wrong', 0),
 (1860, 103, 24, 1589297823, 1589297827, 'wrong', 0),
 (1861, 103, 24, 1589293075, 1589293183, 'wrong', 0),
 (1874, 104, 24, 1589288979, 1589357128, 'wrong', 0),
 (1875, 104, 24, 1589357132, 1589357147, 'correct', 0),
 (1908, 105, 24, 1589357775, 1589357783, 'wrong', 0),
 (1914, 105, 24, 1589357785, 1589357812, 'correct', 0),
 (1915, 105, 24, 1589357675, 1589357687, 'wrong', 0),
 (1920, 105, 24, 1589357149, 1589357566, 'wrong', 0),
 (1929, 105, 24, 1589357720, 1589357754, 'wrong', 0),
 (1939, 105, 24, 1589357570, 1589357621, 'wrong', 0),
 (1940, 105, 24, 1589357623, 1589357634, 'wrong', 0),
 (1942, 105, 24, 1589357691, 1589357715, 'wrong', 0),
 (1943, 105, 24, 1589357757, 1589357772, 'wrong', 0),
 (1973, 106, 24, 1589357818, 1589358122, 'correct', 0),
 (1987, 107, 24, 1589360843, 1589360861, 'wrong', 1),
 (1988, 107, 24, 1589360950, 1589360956, 'wrong', 1),
 (1989, 107, 24, 1589360982, 1589360987, 'wrong', 1),
 (1990, 107, 24, 1589360934, 1589360943, 'wrong', 1),
 (1996, 107, 24, 1589360960, 1589360969, 'wrong', 1),
 (1997, 107, 24, 1589360972, 1589360978, 'wrong', 1),
 (2004, 107, 24, 1589360155, 1589360176, 'wrong', 1),
 (2006, 107, 24, 1589358125, 1589360135, 'wrong', 1),
 (2007, 107, 24, 1589360875, 1589360882, 'wrong', 1),
 (2010, 107, 24, 1589360139, 1589360151, 'wrong', 1),
 (2011, 107, 24, 1589360581, 1589360747, 'wrong', 1),
 (2015, 107, 24, 1589360750, 1589360823, 'wrong', 1),
 (2023, 107, 24, 1589360553, 1589360578, 'wrong', 1),
 (2031, 107, 24, 1589360178, 1589360550, 'wrong', 1),
 (2033, 107, 24, 1589360833, 1589360840, 'wrong', 1),
 (2047, 108, 24, 1589361235, 1589361419, 'wrong', 0),
 (2052, 108, 24, 1589361894, 1589362127, 'wrong', 0),
 (2054, 108, 24, 1589361081, 1589361216, 'wrong', 0),
 (2055, 108, 24, 1589361425, 1589361694, 'wrong', 0),
 (2063, 108, 24, 1589361699, 1589361715, 'wrong', 0),
 (2065, 108, 24, 1589362130, 1589362160, 'wrong', 0),
 (2067, 108, 24, 1589361717, 1589361886, 'wrong', 0),
 (2076, 108, 24, 1589362180, 1589362188, 'correct', 0),
 (2078, 108, 24, 1589362169, 1589362174, 'wrong', 0),
 (2150, 110, 24, 1589362294, 1589363302, 'wrong', 0),
 (2157, 110, 24, 1589363326, 1589363415, 'correct', 0),
 (2178, 111, 24, 1589372252, 1589372260, 'wrong', 0),
 (2180, 111, 24, 1589372055, 1589372071, 'wrong', 0),
 (2183, 111, 24, 1589363418, 1589372044, 'wrong', 0),
 (2184, 111, 24, 1589372268, 1589372282, 'wrong', 0),
 (2191, 111, 24, 1589372130, 1589372140, 'wrong', 0),
 (2195, 111, 24, 1589372142, 1589372247, 'wrong', 0),
 (2223, 111, 24, 1589372434, 1589372439, 'correct', 0),
 (2230, 111, 24, 1589372285, 1589372298, 'wrong', 0),
 (2231, 111, 24, 1589372377, 1589372400, 'wrong', 0),
 (2233, 111, 24, 1589372337, 1589372343, 'wrong', 0),
 (2234, 111, 24, 1589372330, 1589372335, 'wrong', 0),
 (2235, 111, 24, 1589372302, 1589372313, 'wrong', 0),
 (2238, 111, 24, 1589372316, 1589372327, 'wrong', 0)]